   <footer>
	<table>
	<TR>
      <TD><img src="images/logo_vasco.jpg" alt="Vasco" height="100px"></TD>
	  <TD>Contact: Yves.Ledru at imag.fr<TD>
      <TD> <img src="images/anr.jpg" alt="ANR" height="100px"></TD> <TD>This project is
      partly funded by the ANR MODMED project (ANR
      15 CE25 0010). </TD>
	  </TR></table></footer>